**DATA CLEANING PROJECT - MARKETING CAMPAIGN**

In [14]:
# Import Required Libraries
import pandas as pd
import numpy as np

**Loading Dataset**

In [7]:
ile_path = "/mnt/data/marketing_campaign.csv"
df = pd.read_csv("/content/marketing_campaign.csv", )
print(" Dataset Loaded Successfully!")
print("Shape of dataset:", df.shape)

 Dataset Loaded Successfully!
Shape of dataset: (2240, 1)

**Basic Data ExplorationBasic Data Exploration**

In [8]:
print("\nFirst 5 Rows:")
print(df.head())
print("\n Dataset Info:")
print(df.info())
print("\n Missing Values:")
print(df.isnull().sum())

First 5 Rows:
  ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0  5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1  2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2  4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3  6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4  5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...

 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                    --------------  -----
 0   ID	Year_Birth	Education	Marital_Status	Income	Kidhome	Teenhome	Dt_Customer	Recency	MntWines	MntFruits	MntMeatProducts	MntFishProducts	MntSweetProducts	MntGoldProds	NumDealsPurchases	NumWebPurchases	NumCatalogPurchases	NumStorePurchases	NumWebVisitsMonth	AcceptedCmp3	AcceptedCmp4	AcceptedCmp5	AcceptedCmp1	AcceptedCmp2	Complain	Z_CostContact	Z_Revenue	Response  2240 non-null   object
dtypes: object(1)
memory usage: 17.6+ KB
None

 Missing Values:
ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse    0
dtype: int64

In [9]:
#Handle Missing Values
# Fill numeric columns with median
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

In [10]:
# Fill categorical columns with mode
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])
print("\n Missing Values Handled")

 Missing Values Handled

**Remove Duplicate Rows**

In [11]:
before_duplicates = df.shape[0]
df = df.drop_duplicates()
after_duplicates = df.shape[0]
print(f"\n Removed {before_duplicates - after_duplicates} Duplicate Rows")

 Removed 0 Duplicate Rows

In [12]:
#  Standardize Text Formatting
for col in categorical_cols:
    df[col] = df[col].str.strip()      # Remove extra spaces
    df[col] = df[col].str.lower()      # Convert to lowercase
print("\n Text Columns Standardized")

 Text Columns Standardized

In [13]:
# Convert Date Columns (if present)
# Example: If dataset contains a column named 'Dt_Customer'
if 'Dt_Customer' in df.columns:
    df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce')
    print("\n Date Column Converted to Proper Datetime Format")
# Fix Data Types
# Example: Ensure 'Year_Birth' is integer
if 'Year_Birth' in df.columns:
    df['Year_Birth'] = df['Year_Birth'].astype(int)
print("\n Data Types Checked and Fixed")
#  Rename Columns (Clean Headers)
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print("\n Column Names Cleaned")
# Final Dataset Check
print("\n Final Dataset Info:")
print(df.info())
print("\n Final Missing Values:")
print(df.isnull().sum())
print("\n Final Shape:", df.shape)
#  Save Cleaned Dataset
output_file = "/content/marketing_campaign_cleaned.csv"
df.to_csv(output_file, index=False)
print(f"\n Cleaned dataset saved as: {output_file}")

 Data Types Checked and Fixed

 Column Names Cleaned

 Final Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                    --------------  -----
 0   id	year_birth	education	marital_status	income	kidhome	teenhome	dt_customer	recency	mntwines	mntfruits	mntmeatproducts	mntfishproducts	mntsweetproducts	mntgoldprods	numdealspurchases	numwebpurchases	numcatalogpurchases	numstorepurchases	numwebvisitsmonth	acceptedcmp3	acceptedcmp4	acceptedcmp5	acceptedcmp1	acceptedcmp2	complain	z_costcontact	z_revenue	response  2240 non-null   object
dtypes: object(1)
memory usage: 17.6+ KB
None

 Final Missing Values:
id\tyear_birth\teducation\tmarital_status\tincome\tkidhome\tteenhome\tdt_customer\trecency\tmntwines\tmntfruits\tmntmeatproducts\tmntfishproducts\tmntsweetproducts\tmntgoldprods\tnumdealspurchases\tnumwebpurchases\tnumcatalogpurchases\tnumstorepurchases\tnumwebvisitsmonth\tacceptedcmp3\tacceptedcmp4\tacceptedcmp5\tacceptedcmp1\tacceptedcmp2\tcomplain\tz_costcontact\tz_revenue\tresponse    0
dtype: int64

 Final Shape: (2240, 1)

 Cleaned dataset saved as: /content/marketing_campaign_cleaned.csv